@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;1,400&family=Ropa+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-theme-color: rgb(42, 112, 100);
}

body, main {
    overflow-x: hidden;
}

@media all and (max-width: 1279px) {

    .hide-scroll-mob {
        overflow-y: hidden;
    }
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }


.hamburger {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 999;
}

@media all and (min-width: 1280px) {
    .hamburger {
        left: 15px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        z-index: 999;
    }
}

.hamburger__line {
    width: 90%;
    height: 2px;
    background-color: black;
    display: block;
    margin: 0 auto;
}

.active .hamburger__line {
    background-color: transparent;
}

.hamburger__line:after, 
.hamburger__line:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.hamburger__line:before {
    transform: translateY(-7px);
}
.hamburger__line:after {
    transform: translateY(5px);
}

.active .hamburger__line:before {
    transform: translateY(1px) rotate(45deg);
}
.active .hamburger__line:after {
    transform: translateY(-1px) rotate(-45deg);
}

.nav-items {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.nav-items.active {
    transform: translateX(0);
}

.pageTurn {
    display: block;
    width: 90px;
    aspect-ratio: 1/1;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}

.pageTurn::after {
    content: '';
    width: 90px;
    aspect-ratio: 1/1;
    background-color: #7FB6CB;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    position: absolute;
    bottom: 0px;
    right: 0px;
    box-shadow: 2px 3px 5px #405a64, -2px -3px 5px #405a64;
}

.container__imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    padding: 8rem 0 4rem 0;
}

@media all and (min-width:1280px) {
    .container__imgs {
        grid-template-rows: 50%;
    }
}

.container__imgs > img {
    max-width: 100px;
    height: auto;
}

.container__imgs > img:nth-child(1) {
    justify-self: start;
    transform: translateY(-1.5rem) rotate(25deg) scale(1.1);
}
.container__imgs > img:nth-child(2) {
    justify-self: start;
    transform: translateY(-1.7rem) rotate(12deg);
}
.container__imgs > img:nth-child(3) {
    justify-self: end;
    transform: translateY(1.5rem) rotate(-12deg);
}
.container__imgs > img:nth-child(4) {
    justify-self: end;
    transform: translateY(1.5rem) rotate(12deg);
}

@media all and (min-width: 1280px) {
    .container__imgs > img:nth-child(1) {
        justify-self: start;
        transform: translateY(-1.5rem) rotate(25deg) scale(1.1);
    }
    .container__imgs > img:nth-child(2) {
        justify-self: start;
        transform: translateY(-1.7rem) rotate(12deg);
    }
    .container__imgs > img:nth-child(3) {
        justify-self: end;
        transform: translateY(1.5rem) rotate(-12deg);
    }
    .container__imgs > img:nth-child(4) {
        justify-self: end;
        transform: translateY(1.5rem) rotate(12deg);
    }
    
}

.aim__container {
    counter-reset: aim;
}

@media all and (min-width: 1280px) {
    .aim__container {

        transform: translateX(4rem);
    }

}

.aim {
    position: relative;
}

.aim h1 {
    margin-left: 4rem;
    margin-top: 50px;
    margin-bottom: 2rem;
    padding-top: 25px;
    font-weight: 600;
    
}
.aim p {
    margin-left: 1rem;
}

.aim::before {
    counter-increment: aim;
    z-index: -10;
    font-size: 5rem;
    font-style: italic;
    opacity: 0.5;
    color: white;
    content: counter(aim);
    position: absolute;
    transform-origin: center;
    left: -55px;
    background-color: #62b7c496;
    width: 150px;
    height: 150px;
    border-radius: 999px;
    display: grid;
    place-items: center;
}


.collapse--green {
    display: block;
    max-height: 0px;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
}

.collapse--green.show {
    max-height: 50em;
    transition: max-height .5s ease-in-out
}

.blockquote {
    position: relative;
}

.blockquote::before {
    content: '\"';
    font-size: 4rem;
    font-family: 'Ropa Sans', sans-serif;
    opacity: 0.5;
    color: #ebebeb;
}
.blockquote::after {
    content: '\"';
    font-family: 'Ropa Sans', sans-serif;
    font-size: 4rem;
    opacity: 0.5;
    color: #ebebeb;
    position: absolute;
    bottom: -3rem;
    right: 0;
}

.cards {
    position: relative;
    background-color: rgba(255, 255, 255, 0.815);
    --offset: -1rem;
    --rotation: -25deg;
}

.cards::before,
.cards::after {
    content: 'i';
    position: absolute;
    font-family: 'Playfair Display', serif;
    z-index: -1;
    font-size: 18rem;
    color: #446469;
}


.cards::before {
    transform: rotate(var(--rotation));
    top: var(--offset);
    left: var(--offset);
}
.cards::after {
    transform: rotate(calc(-1 * var(--rotation)));
    bottom: calc(-1 * var(--offset));
    right: calc(-1 * var(--offset));
}

@media all and (min-width: 1280px) {
    .cards {
        --offset: -0.5rem;
        --rotation: -10deg;
    }
}

.card  h5 {
    color: #285157;
}
.card  h6 {
    color: #183135;
}

.info--community {
    background-color: #e4f5fca8;
    position: relative;
}

.info--community::after {
    content: '!';
    position: absolute;
    color: #183135;
    font-size: 7rem;
    transform: rotate(8deg);
    right: 0;
    top: 0rem;
    z-index: -1;
}

.info--index::after {
    top: 0rem;
    right: unset;
    left: -1rem;
    z-index: 30;
    opacity: 0.3;
    font-size: 12rem;
    transform: rotate(-2deg)
}


.swiper-slide {
    height: auto;
}

.swiper-slide .flex > div:first-child > p:first-of-type {
    text-indent: 2rem;
}

.swiper-container.mySwiper {
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}

.swiper-container.mySwiper2 {
    overflow-x: hidden;
}

.swiper-container--mine {
    position: relative;
}

.swiper-container--mine::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f10d";
    position: absolute;
    top: 0;
    left: 1rem;
    color: rgba(83, 50, 248, 0.329);
    opacity: 0.8;
    z-index: 20;
    font-size: 4rem;
}

.swiper-button-next, .swiper-button-prev {
    bottom: 2.3rem;
    top: unset;
    --swiper-navigation-size: 20px;
    opacity: 1;
    color: #374151;
}
.swiper-button-next {
    right: 6rem;
}

.swiper-button-prev {
    left: 6rem;
}

@media all and (min-width: 1280px) {
    .mySwiper .swiper-button-next {
        right: 20rem;
    }
    
    .mySwiper .swiper-button-prev {
        left: 20rem;
    }
}

.google-maps {

    position: relative;

    padding-bottom: 75%; 

    height: 0;

    overflow: hidden;

}

@media all and (min-width:1280px) {
    .google-maps {

        position: relative;
    
        padding-bottom: 50%; 
    
        height: 0;
    
        overflow: hidden;
    }
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media all and (min-width: 1280px) {
    

    .fas.xl\:hidden {
        display: none !important;
    }
} 

@media all and (min-width: 1280px) {
    .collapseAbout {
        position: relative;
    }

    .collapseAbout::before {
        opacity: 0;
        position: absolute;
        top: -5rem;
        width: 70px;
        height: 70px;
        content: '';
        background-color: #C4C4C4;
        border-radius: 99px;
        transition: opacity 0.3s ease;
    }

    .collapseAbout.font-bold::before {
        opacity: 1;
    }
}

table {
    border-collapse: separate;
    border-spacing: 1rem;
}

.main-intro p {
    position: relative;
    display: inline-block;
}


.main-intro p::after {
    position: absolute;
        content: '';
        height: 10px;
    width: calc(100% + 1rem);
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
        background-color: var(--bg-color);
        z-index: -1;
        opacity: 0.7;
}
@media all and (min-width: 1280px) {
    .main-intro p::after {
        
        width: calc(100% + 2rem);
        bottom: 3px;
        left: 50%;
        
    }
}

.main-desc {
    position: relative;
}
@media all and (min-width: 1280px) {
    

    .main-desc::after {
        content: '';
        height: 30%;
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 30%;
        background-color: var(--bg-color);
        opacity: 0.1;
        clip-path: polygon(52% 0, 100% 0, 100% 100%, 0% 100%);
    }
    .main-desc::before {
        content: '';
        height: 30%;
        width: 50%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--bg-color);
        opacity: 0.1;
        clip-path: polygon(0 0, 100% 0, 48% 100%, 0% 100%);
    }
}

@media all and (min-width: 1280px) {
    .prose {
        font-size: 1.25rem;
    }
}

