{% layout 'base.html' %}

{% block content %}
<main id="main-content" tabindex="-1" class="pl-0 xl:pl-16">
  <div class="w-10/12 px-4 pb-8 xl:w-full xl:text-center xl:py-16 xl:pb-32 main-desc" style="--bg-color: {{ intro.color }}">

    <p class="text-md text-gray-400 mb-4 font-header xl:text-3xl xl:mb-8">{{intro.title}}</p>
    <h1 class="text-3xl font-bold leading-9 mb-4 xl:text-5xl xl:w-5/12 xl:mx-auto xl:block xl:mb-16 xl:leading-tight main-intro" style="--bg-color: {{ intro.color }}">{{intro.main | safe}}</h1>
    <p class="text-left xl:w-7/12 xl:ml-48 xl:block xl:text-3xl">{{intro.desc}}</p>
  </div>
    {{ content }}
  
</main>
{% endblock %}
