---
layout: 'layouts/pages.html'
title: 'Community'
intro:
  title: 'Community'
  main: "
  <p>
    Outreach
  </p>
  <p>
    Programme
  </p>
  "
  color: '#CBBCDE'
  desc:
    'Our usual procedure is for the parent to first book a consultation with our principal therapist. Following that, if we determine we can be of help, a thorough assessment is conducted to help us develop a learning profile and therapy plan, customised to your child.'
  padding: 'pb-0'
table:
  venue: 'SMOTA class room / home-based'
  timing: '1.5hr per session, block of 10 sessions'
  cost1: Materials provided & One time registration fee $50
  cost2: To register, please fill in and return form

---

<div class="px-4 py-8 xl:px-0 bg-lhtpurple xl:bg-white text-white xl:text-gray-900">
  <div class="px-4 py-8 xl:p-0 card--community xl:border-black xl:border-t-2 xl:border-b-2 flex flex-col xl:flex-row">
    <div class="xl:w-4/12 xl:overflow-hidden">

      <img src="../images/community-1.jpg" class="d-block mx-auto rounded-lg xl:rounded-none xl:border-r-2 xl:border-black w-48 h-48 mb-8 xl:h-full xl:w-auto xl:mb-0">
    </div>
    <div class="prose text-white xl:text-gray-800 xl:p-12">

      <h6 class="text-center xl:text-left text-3xl font-bold mb-4">
        Research-backed
      </h6>
      <p class="text-2xl leading-8">
        International best practice approach, with explicit phonological training  and a structured, cumulative, and multi sensory experience
      </p>
    </div>
  </div>
  <div class="px-4 py-8 xl:p-0 card--community xl:border-black xl:border-b-2 flex flex-col xl:flex-row xl:flex-row-reverse">
    <div class="xl:w-4/12 xl:overflow-hidden">

      <img src="../images/community-2.jpg" class="d-block mx-auto rounded-lg xl:rounded-none xl:border-l-2 xl:border-black w-48 h-48 mb-8 xl:h-full xl:w-auto xl:mb-0">
    </div>
    <div class="prose text-white xl:text-gray-800 xl:p-12 mr-auto">

      <h6 class="text-center xl:text-left text-3xl font-bold mb-4">
        Arts & Crafts
      </h6>
      <p class="text-2xl leading-8">
        Pedogogically sound art and craft projects
      </p>
    </div>
  </div>
  <div class="px-4 py-8 xl:p-0 card--community xl:border-black xl:border-b-2 flex flex-col xl:flex-row">
    <div class="xl:w-4/12 xl:overflow-hidden">

      <img src="../images/community-4.jpeg" class="d-block mx-auto rounded-lg xl:rounded-none xl:border-r-2 xl:border-black w-48 h-48 mb-8 xl:h-full xl:w-auto xl:mb-0">
    </div>
    <div class="prose text-white xl:text-gray-800 xl:p-12">

      <h6 class="text-center xl:text-left text-3xl font-bold mb-4">
        Pre-Secondary Literature Introductary programme
      </h6>
    </div>
    </div>
    
    
  </div>
<div class="container px-4 pt-8 xl:hidden">
  <div class="bg-lhtpurple rounded-t-lg text-white text-center py-4 px-6 mb-3">
    <h6 class="text-3xl font-bold">Venue</h6>
  </div>
  <div class="border-2 border-lhtpurple text-lhtpurple text-center py-4 px-6 mb-3">
    <p class="text-2xl">
      {{table.venue}}
    </p>
  </div>
  <div class="bg-lhtpurple text-white text-center py-4 px-6 mb-3">
    <h6 class="text-3xl font-bold">Cost</h6>
  </div>
  <div class="border-2 border-lhtpurple text-lhtpurple text-center py-4 px-6 mb-3">
    <p class="text-2xl mb-4">

      {{table.cost1}}
    </p>
    <p class="text-2xl">

      {{table.cost2}}
    </p>
  </div>
  <div class="bg-lhtpurple text-white text-center py-4 px-6 mb-3">
    <h6 class="text-3xl font-bold">Timing</h6>
  </div>
  <div class="border-2 border-lhtpurple text-lhtpurple text-center py-4 rounded-b-lg px-6">
    <p class="text-2xl">
      {{table.timing}}
    </p>
  </div>
</div> 
<div class="p-12 hidden xl:table">
  <table>
    <tr class="mb-4">
      <th class="bg-lhtpurple border-2 border-lhtpurple text-white text-center text-4xl py-4 px-6 mb-3">
        Venue
      </th>
      <td class="border-2 border-lhtpurple text-lhtpurple text-2xl text-center py-4 px-6 mb-3 w-5/12">
        {{table.venue}}

      </td>
      <td class="border-2 border-lhtpurple text-lhtpurple text-2xl text-center py-4 px-6 mb-3" rowspan="3">
        <p class="text-left text-3xl">

          If you’re interested to volunteer with Reading Angels, or know any family or child who may benefit from this programme, kindly contact us.
        </p>
      </td>
    </tr>
    <tr class="mb-4">
      <th class="bg-lhtpurple border-2 border-lhtpurple text-white text-center text-4xl py-4 px-6 mb-3">
        Cost
      </th>
      <td class="border-2 border-lhtpurple text-lhtpurple text-2xl text-center py-4 px-6 mb-3 w-5/12">
        <p class="mb-4">
          {{table.cost1}}
        </p>
        <p>
          {{table.cost2}}
        </p>
      </td>
    </tr>
    <tr class="mb-4">
      <th class="bg-lhtpurple border-2 border-lhtpurple text-white text-center text-4xl py-4 px-6 mb-3">
        Timing
      </th>
      <td class="border-2 border-lhtpurple text-lhtpurple text-2xl text-center py-4 px-6 mb-3 w-5/12">
        <p>
          {{table.timing}}
        </p>
      </td>
    </tr>
  </table>
</div>
<div class="container px-4 py-4 xl:hidden">
  <div class="info--community rounded-xl p-4 text-gray-900">
    If you’re interested to volunteer with Reading Angels, or know any family or child who may benefit from this programme, kindly contact us.
  </div>
</div>