---
layout: 'layouts/pages.html'
title: 'fees'
intro:
  title: 'Fees'
  main: 'Your journey with us starts here'
  desc:
    'Our usual procedure is for the parent to first book a consultation with our principal therapist. Following that, if we determine we can be of help, a thorough assessment is conducted to help us develop a learning profile and therapy plan, customised to your child.'
---

<div class="container px-4">

  <div class="border-2 border-green-900 rounded-xl cards">
    <div class="card py-8 px-8 border-b-2 border-green-700">
      <div class="text-center flex flex-col">
  
        <img src="../images/consult.png" alt="" class="w-4/12 block mx-auto mb-4">
        <h5 class="text-3xl text-green-700 mb-6">
          Consultation
        </h5>
        <h6 class="text-2xl">
          $180 / hr
        </h6>
      </div>
    </div>
    <div class="card py-8 px-8 border-b-2 border-green-700">
      <div class="text-center flex flex-col">
  
        <img src="../images/consult.png" alt="" class="w-4/12 block mx-auto mb-4">
        <h5 class="text-3xl text-green-700 mb-6">
          Therapy
        </h5>
        <h6 class="text-2xl">
          Varies by learning phase<br>
          Payable quarterly in the first month of each quarter
        </h6>
      </div>
    </div>
    <div class="card py-8 px-8">
      <div class="text-center flex flex-col">
  
        <img src="../images/consult.png" alt="" class="w-4/12 block mx-auto mb-4">
        <h5 class="text-3xl text-green-700 mb-6">
          Registration
        </h5>
        <h6 class="text-2xl">
          $100 per subject time slot (payable annually)
          <br><br>
One month’s fees as deposit, refundable when T & C’s are met
        </h6>
      </div>
    </div>
  </div>
</div>
