---
layout: 'layouts/home.html'
title: 'Home'
meta:
  desc:
    '11st-Starter-Kit is a minimal starting point for building static websites
    with 11ty, powered by Snowpack with Tailwind CSS and Alpine.js.'
---

<div class="bg-lhtblue relative pb-24">
  <div class="container__imgs">
    <img src="images/index1.jpeg" alt="" xyz="fade big-75 stagger" class="xyz-in">
    <img src="images/index1.jpeg" alt="" xyz="fade big-75 stagger" class="xyz-in">
    <img src="images/index1.jpeg" alt="" xyz="fade big-75 stagger" class="xyz-in">
    <img src="images/index1.jpeg" alt="" xyz="fade big-75 stagger" class="xyz-in">
  </div>
  <div class="container px-4 text-white">
    <h1 class="text-3xl pb-4">
      After more than <strong>20 years</strong> of experience in educational therapy
    </h1>
    <p class="text-green-900 pb-4">
      We’ve learnt to teach children the way they learn, not expect them to learn the way we teach
    </p>
    <a href="/" class="block w-max bg-lhtblue-dark hover:bg-green-800 text-white font-bold text-base py-4 px-8 rounded-full">Book your first consult</a>
  </div>
  <div class="pageTurn">

  </div>
</div>
<div class="container px-4 text-gray flex flex-col pt-4 aim__container">
  <div class="aim mb-8">
    <h1 class="text-3xl pb-4">
      Our Aim
    </h1>
    <p class="pb-4">
      is to get to know each child as an individual and provide for his/her total development accademically, socially, and emotionally
    </p>
    <hr>
  </div>
  <div class="aim mb-8">
    <h1 class="text-3xl pb-4">
      Our Mission
    </h1>
    <p class="pb-4">
      is to get to know each child as an individual and provide for his/her total development accademically, socially, and emotionally
    </p>
    <hr>
  </div>
  <div class="aim mb-8">
    <h1 class="text-3xl pb-4">
      Our Passion
    </h1>
    <p class="pb-4">
      is to get to know each child as an individual and provide for his/her total development accademically, socially, and emotionally
    </p>
  </div>
</div>

<a href="/about/" class="link--nextPage text-2xl text-lhtblue uppercase float-right font-bold pr-4 pb-4">About <i class="fas fa-arrow-right"></i></a>
