---
layout: 'layouts/pages.html'
title: 'Mindfulness'
intro:
  title: 
    'Mindfulness'
  main: 
    "
    <p>
      Mindfulness
    </p>
    <p>

      @LearningHearts
    </p>
    "
  color: '#820D0D'
  desc:
    'Stress is an inescapable part of modern-day life.  We all spend a good proportion of our time (often sub-consciously) caught in the past or worrying about the future.  These habits of mind can overwhelm, rob us of restful sleep, keep us on edge and cause us to make rash decisions – fueling further stress.'
  padding: 'pb-0'
table:
  who: "
  
  Adults and Youth (18 years and above)
  <br><br>
  (N.B. pre-course interview and registration process will be undertaken to better understand your needs and to determine if this course will be beneficial for you)
  "
  
  duration: '8 sessions (2 hrs 15 min each) and 1 half-day retreat (10am – 4pm)'
  dates: "
  Please e-mail us to find out when the next course begins
  "
  venue: "
  One-North Residences, TBC
  "
  fees: "
  <b>Registration:</b> $50
  <br><br>
  <b>Course:</b> $600
  (payable in full only upon enrollment)
  <br><br>
  To register, kindly contact us
  "

---

<img src="../images/mindfulness.jpg" alt="" class="xl:hidden">

  <div class="bg-white max-w-6xl mx-auto xl:border-2 xl:border-black xl:rounded-xl xl:mt-32 xl:mb-20">
    <ul class="shadow-box text-base relative grid grid-cols-1 xl:grid-cols-2 xl:auto-rows-max" x-data="{selected: $store.mqMobile ? null : 1}">
						
      {% collapseAbout "About Mindfulness	", "bg-red-400", "1", "mindfulness1.png" %}
      <p>
        Robust research has shown MBCT (Oxford Mindfulness Center) to be an effective, drug-free programme (combining Mindfulness with Cognitive-based Therapy) that is intended to address much of the above.  MBCT is an in-depth course that helps participants cultivate new skills and learn strategies and techniques for relating to stressors, engendering lasting and sustainable change and benefits such as:
      </p>
      <ul class="">
        <li>
          Decreased impulsivity and reactivity
        </li>
        <li>
          Greater clarity of mind and insight
        </li>
        <li>Wiser response and decision making</li>
        <li>Increased sense of calm and well-being</li>
        <li>Improved relationship with self and others</li>
      </ul>
      {% endcollapseAbout %}
      
      {% collapseAbout "Video Gallery", "bg-red-900", "2", "mindfulness2.png" %}
      <div class="mb-12">

        <div class="aspect-w-16 overflow-hidden aspect-h-9 rounded-xl">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/8GVwnxkWmSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="text-center">
          Creator of MBCT, Prof Mark Williams, Oxford University, shares about research on MBCT
        </p>
      </div>
      <div class="aspect-w-16 overflow-hidden aspect-h-9 rounded-xl">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DfRRvtnOEeg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="text-center">
        This video features participants who have attended an MBCT course, sharing their experiences.
      </p>
      <div class="aspect-w-16 overflow-hidden aspect-h-9 rounded-xl">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gQfKpPpOxBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="text-center">
        Mindfulness for life - with Mark williams
      </p>
      {% endcollapseAbout %}
    
  
      </ul>
</div>
<div class="swiper-container--mine">

  <div class="swiper-container mySwiper relative">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="bg-gray-300 text-base px-4 py-8 xl:pb-16 prose h-full flex flex-col justify-between mx-auto" x-data="{show: false}">
          <div>
  
            <p>
              Attending the MBCT after the MBSR has increased my awareness of the application of mindfulness. They really are complementary programmes that have helped me understand the stress/anxiety triggers and the cognitive therapy techniques that help my personal management. I wish that I had come to mindfulness practice earlier in my life rather than having had disasters trigger the urgency.
            </p>
            <div x-show="show" x-transition>
              <p>
                I really liked and appreciated all the practices. The pacing was fine and the Content is just so applicable it really speaks to me. Julene’s facilitation abilities to draw on participants’ concerns/feedback/input/contributions brings even more resonance to the content covered in light of the individual struggles we all are facing. To me this is the highlight and where I seem to get repeated ‘ah-ha’ sentiments that bring a smile amidst some synaptic synergy.
              </p>
              <p>
                Very grateful to be on this journey and realise that it will be a long time before I’m at a place I’m comfortable but that’s ok. This is a journey.
              </p>
            </div>
            <button x-on:click="show = ! show" x-html="show ? 'Less' : 'More'" class="mt-12 block ml-auto px-3 py-1 text-green-900 border-2 border-green-900 rounded-xl">
              Read more
            </button>
          </div>
          <h6 class="text-center mt-8">Claire</h6>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="bg-gray-300 text-base px-10 py-8 xl:pb-16 prose h-full flex flex-col justify-between mx-auto" x-data="{show: false}">
          <div>
  
            <p>
              The Mindfulness course has given me a practical tool for managing my anxiety when facing current challenges with my teenagers. I learnt to hold the space before reacting to their behavior or before negative thoughts in my mind spirals out of control. I would recommend this course to anyone who wants to experience a refreshing insight to how the connection between the body and mind can be self-healing when we mindfully live our life.
            </p>
            <div x-show="show" x-transition>
              <p>
                Special thanks to our coach for her well thought-out plan for in-door and out-door experiences for the entire course which has greatly enriched my Mindfulness journey.
              </p>
            </div>
            <button x-on:click="show = ! show" x-html="show ? 'Less' : 'More'" class="mt-12 block ml-auto px-3 py-1 text-green-900 border-2 border-green-900 rounded-xl">
              Read more
            </button>
          </div>
          <h6 class="text-center mt-8">Claudia</h6>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<div class="container px-4 py-8 xl:hidden">
  <div class="bg-green-600 rounded-t-lg text-white text-center py-4 px-6 mb-3">
    <h6 class="text-3xl font-bold">Who</h6>
  </div>
  <div class="border-2 border-green-600 text-green-600 text-center py-4 px-6 mb-3">
    <p class="text-2xl">
      {{table.who | safe }}
    </p>
  </div>
  <div class="bg-green-600 text-white text-center py-4 px-6 mb-3">
    <h6 class="text-3xl font-bold">Duration</h6>
  </div>
  <div class="border-2 border-green-600 text-green-600 text-center py-4 px-6 mb-3">
    <p class="text-2xl">

      {{table.duration | safe}}
    </p>
  </div>
  <div class="bg-green-600 text-white text-center py-4 px-6 mb-3">
    <h6 class="text-3xl font-bold">Dates</h6>
  </div>
  <div class="border-2 border-green-600 text-green-600 text-center py-4 px-6 mb-3">
    <p class="text-2xl">

      {{table.dates | safe}}
    </p>
  </div>
  <div class="bg-green-600 text-white text-center py-4 px-6 mb-3">
    <h6 class="text-3xl font-bold">Venue</h6>
  </div>
  <div class="border-2 border-green-600 text-green-600 text-center py-4 px-6 mb-3">
    <p class="text-2xl">

      {{table.venue | safe}}
    </p>
  </div>
  <div class="bg-green-600 text-white text-center py-4 px-6 mb-3">
    <h6 class="text-3xl font-bold">Fees</h6>
  </div>
  <div class="border-2 border-green-600 text-green-600 text-center py-4 rounded-b-lg px-6">
    <p class="text-2xl">
      {{table.fees | safe}}
    </p>
  </div>
</div>
<div class="p-12 hidden xl:table">
  <table>
    <tr class="mb-4">
      <th class="bg-green-600 border-2 border-green-600 text-white text-center w-3/12 text-4xl py-4 px-6 mb-3">
        Who
      </th>
      <td class="border-2 border-green-600 text-green-600 leading-9 text-2xl text-center py-4 px-6 mb-3 w-5/12">
        <p>

          {{table.who | safe }}
        </p>

      </td>
    
    </tr>
    <tr class="mb-4">
      <th class="bg-green-600 border-2 border-green-600 text-white text-center text-4xl py-4 px-6 mb-3">
        Duration
      </th>
      <td class="border-2 border-green-600 text-green-600 leading-9 text-2xl text-center py-4 px-6 mb-3 w-5/12">
        <p>{{table.duration | safe}}</p>
      </td>
    </tr>
    <tr class="mb-4">
      <th class="bg-green-600 border-2 border-green-600 text-white text-center text-4xl py-4 px-6 mb-3">
        Timing
      </th>
      <td class="border-2 border-green-600 text-green-600 leading-9 text-2xl text-center py-4 px-6 mb-3 w-5/12">
        <p>
          {{table.dates | safe}}
        </p>
      </td>
    </tr>
    <tr class="mb-4">
      <th class="bg-green-600 border-2 border-green-600 text-white text-center text-4xl py-4 px-6 mb-3">
        Venue
      </th>
      <td class="border-2 border-green-600 text-green-600 leading-9 text-2xl text-center py-4 px-6 mb-3 w-5/12">
        <p>
          {{table.venue | safe}}
        </p>
      </td>
    </tr>
    <tr class="mb-4">
      <th class="bg-green-600 border-2 border-green-600 text-white text-center text-4xl py-4 px-6 mb-3">
        Fees
      </th>
      <td class="border-2 border-green-600 text-green-600 leading-9 text-2xl text-center py-4 px-6 mb-3 w-5/12">
        <p>
          {{table.fees | safe}}
        </p>
      </td>
    </tr>
  </table>
</div>



