<header>
  <nav class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <figure class="flex flex-shrink-0 items-center space-x-1">
        <img
          alt="11st starter-kit logo"
          class="h-8 w-auto"
          src="/images/drawing.png"
        />
      </figure>
      <div x-data="{navOpen: false}">
        <button x-data class="hamburger" x-on:click="$store.nav.toggle()" x-bind:class="{active: $store.nav.show}">
          <div class="hamburger__line"></div>
        </button>
        <ul x-data x-bind:class="{active: $store.nav.show}" x-transition class="flex flex-col bg-white p-4 absolute inset-0 nav-items text-center pt-12 h-screen">
          {% for item in navigation.items %}
            {% if item.url == page.url %}
              {% assign highlight = 'cursor-default text-6xl underline' %}
              {% assign current = 'aria-current="page"' %}
            {% else %}
              {% assign highlight = 'text-5xl' %}
              {% assign current = '' %}
            {% endif %}
            <li class="py-6">
              <a
                href="{{ item.url }}"
                class="font-bold {{ highlight }}"
                {{ current }}
              >
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
