<footer class="bg-lhtblue-footer px-4 pt-8 pb-4 text-white text-2xl xl:pl-16">
    <div class="xl:p-16 flex flex-col xl:flex-row xl:space-x-6">
        <div class="xl:w-7/12">
            <p class="mb-10">
                Message or email us to book your consultation session. We look forward to meeting you and beginning this journey together.
            </p>
            <div class="mb-12">
                <h5 class="text-lhtblue-footerText mb-0.5 font-ropa xl:text-5xl">Call us at</h5>
                <a href="https://wa.me/+6590585574" class="underline">
        
                    <h6 class="mb-2 xl:mb-12 xl:text-4xl">9058 5574</h6>
                </a>
                <h5 class="text-lhtblue-footerText mb-0.5 font-ropa xl:text-5xl">Email us at</h5>
                <a href="mailto:askus@learning-hearts.com" class="underline">
        
                    <h6 class=" xl:text-4xl">askus@learning-hearts.com</h6>
                </a>
            </div>
            <h5 class="text-lhtblue-footerText mb-0.5 font-ropa xl:text-5xl">Find us at</h5>
            <a href="" class="underline">
        
                <h6 class="mb-12 xl:text-4xl">
                    9 One-north residences
                    #01-37<br>
                    S733252
                </h6>
            </a>
        </div>
        <div class="google-maps mb-10 xl:w-5/12">
    
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7886548065603!2d103.787879314708!3d1.3017227620909113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1b478ff0e34d%3A0x48cc63bf2f3f65bf!2sLearning%20Hearts%20Therapy%20LLP!5e0!3m2!1sen!2ssg!4v1629813775390!5m2!1sen!2ssg" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <p class="text-md text-lhtblue-footerText xl:pl-12">
        © 2020 Learning Hearts Therapy LLP 
    </p>
</footer>